<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <header>
      <h1>Web Colors App</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/colors">Colors</a></li>
        <li><a href="/green">Green Category</a></li>
        <li><a href="/red">Red Category</a></li>
        <li><a href="/grayscale">Grayscale Category</a></li>
      </ul>
    </nav>

    <%- body -%>

    <footer></footer>
  </body>
</html>
