<h2>All of the colors</h2>


<ul>

  <% colors.forEach((oneColor) => { %>
    <li>

      <div style="width:60px;height:40px;background-color:<%= oneColor.hex %>; border: 1px solid black;"></div>
      <%= oneColor.keyword %>
      <%= oneColor.hex %>


    </li>

  <% }) %>
</ul>
