<h2>Main Page</h2>

<div>
  <br>

  <p>This is our verson of  <a href="http://gradients.io/">Gradients.io</a></p>
  <p>Gradients.io is a web app used to display every color of the rainbow</p>
  <br>
  <img class="animated-gif" src="/images/rainbow.giphy.gif" class="img-rounded">

</div>
