<h2>Main Page</h2>

<div class="home">
  <br>

  <p>This is our verson of Gradients.io</p>
  <p>Gradients.io is a web app used to display every color of the rainbow</p>
  <br>
  <img class="animated-gif" src="/images/rainbow.giphy.gif" class="img-rounded">

</div>
